nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100vw;
  height: 75px;
  border-bottom: 2px solid rgb(230, 230, 230);

  .logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 25px;

    img {
      width: 275px;
    }
  }
}