main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 10px 25px;

  h1 {
    text-decoration: underline;
  }

  .errorLabel, .successLabel {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: lightcoral;
    color: darkred;
    border: 1px solid darkred;
    margin-bottom: 15px;
  }

  .successLabel {
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid darkgreen;
  }

  @import '../Select/Select';
  @import '../List/List';
  @import '../Preview/Preview';
}

@media screen and (min-width: 1024px) {
  .errorLabel, .successLabel {
    width: 300px !important;
  }
}