.preview {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 2px 2px 10px grey;
  background-color: #efefef;

  .btn {
    height: 35px;
    color: white;
    background-color: #de1b2f;
    border: 2px solid darkred;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .preview {
    width: 250px !important;

    .btn {
      align-self: center;
      width: 200px;
    }
  }
}